%div.dl-horizontal.with-top-margin.tabbable.tabs-below
  %ul.nav.nav-tabs
    %li.active#myTab
      %a{href: "#tab1", "data-toggle" => "tab"} Odebrane
    %li#myTab
      %a{href: "#tab2", "data-toggle" => "tab"} Wysłane
  .tab-content
    #tab1.tab-pane.active
      - @received.each do |m|
        %dt Od
        %dd
          = link_to User.find(m.sender_id).name, user_path(m.sender_id)
        %dt Temat
        %dd
          = m.subject
        %dt Wiadomość
        %dd
          = m.content
        %dt
        %dd
          = link_to 'Odpowiedz', new_message_path(recipient_id: m.sender_id), class: 'btn'
    #tab2.tab-pane
      - @sent.each do |m|
        %dt Do
        %dd
          = link_to User.find(m.recipient_id).name, user_path(m.recipient_id)
        %dt Temat
        %dd
          = m.subject
        %dt Wiadomość
        %dd
          = m.content
