.span12.with-top-margin
  .centered
    = "Nowa wiadomość do"
    = link_to @recipient.name, user_path(User.find(@recipient.id))
    = simple_form_for [@message] do |f|
      = f.input :recipient_id, as: :hidden, input_html: { value: @recipient.id }
      = f.input :sender_id, as: :hidden, input_html: { value: current_user.id }
      = f.input :subject, as: :string, label: 'Temat'
      = f.input :content, as: :text, label: false
      = f.submit 'Wyślij'
