%p#notice= notice
%p
  %strong Subject:
  = @message.subject
%p
  %strong Content:
  = @message.content
%p
  %strong Sender:
  = @message.sender_id
%p
  %strong Recipient:
  = @message.recipient_id
= link_to 'Edit', edit_message_path(@message)
|
\#{link_to 'Back', messages_path}
