%a{:name => "post-#{post.id}"}
.row
  %div{:class => "post #{cycle('odd', 'even')} span10", :id => "post_#{post_counter + 1}"}
    - if post.pending_review?
      .moderation.alert
        = t(".pending_review")
        - if forem_admin_or_moderator?(post.topic.forum)
          - if local_assigns[:mass_moderation]
            = render "/forem/posts/moderation_tools", :post => post
          - else
            = form_tag forem.forum_moderate_posts_path(post.topic.forum), :method => :put do
              = render "/forem/posts/moderation_tools", :post => post
    .contents
      .user.span2
        .username
          - if post.user.is_a?(Forem::NilUser)
            = t(:deleted)
          - else
            = link_to_if Forem.user_profile_links, post.user, [main_app, post.user]
        .icon= forem_avatar(post.user, :size => 60)
      .contents.span7
        %a{:href => "#post-#{post.id}"}
          %time{:datetime => post.created_at.to_s(:db)}= "#{time_ago_in_words(post.created_at)} #{t("ago")}"
        = forem_format(post.text)
        - if post.reply_to
          .in-reply-to
            = link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}"
        - if forem_user
          .btn-group
            - if can?(:reply, post.topic)
              - if post.topic.can_be_replied_to?
                = link_to t('reply', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id), :class => "btn btn-primary"
                = link_to t('quote', :scope => 'forem.topic'), forem.new_topic_post_path(post.topic, :reply_to_id => post.id, :quote => true), :class => "btn btn-success"
            - if post.owner_or_admin?(forem_user)
              - if can?(:edit_post, post.topic.forum)
                = link_to t('edit', :scope => 'forem.post'), forem.edit_topic_post_path(post.topic, post), :class => "btn btn-info"
              - if can?(:destroy_post, post.topic.forum)
                = link_to t('delete', :scope => 'forem.topic'), forem.topic_post_path(post.topic, post), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger"
