%a{:name => "post-#{post.id}"}
%div{:class => "reply_to_post post #{cycle('odd', 'even')} span10", :id => "post_#{post.id}"}
  .user.span2
    .username
      = link_to_if Forem.user_profile_links, post.user, [main_app, post.user]
    .icon= forem_avatar(post.user, :size => 60)
  .contents.span7
    %time{:datetime => post.created_at.to_s(:db)}= "#{time_ago_in_words(post.created_at)} #{t("ago")}"
    = forem_format(post.text)
    - if post.reply_to
      %span.in_reply_to
        = link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}"
