= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum }
%h2= t("forem.post.edit", :post => @post)
= simple_form_for [forem, @topic, @post] do |f|
  = render :partial => "form", :locals => { :f => f }
  = f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary"
