.t-ups.with-top-margin.centered
  .span2
  .span8
    %p.bolded
      = link_to "#{@user.name}", user_path(@user)
      wrzucił
    - @throwups.each_slice(4) do |s|
      %table
        %tr.throwups-line
          - s.each do |t|
            %td.t-up-index
              %p
                = t.content
              %p
              - if t.attachment?
                = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
              - if t.youtube?
                = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
              %p.pull-right.t_up-counter
                - if t.likes.any?
                  %i.icon.fa.fa-star
                - else
                  %i.icon.fa.fa-star-o
                = t.likes.count
                - if t.comments.any?
                  %i.icon.fa.fa-comment
                - else
                  %i.icon.fa.fa-comment-o
                = t.comments.count
    = will_paginate @throwups
    .span2
