.form-actions
  .container
    .row
      .login-header
        %h4 Zarejestruj się
        .login-box.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            = f.input :email, :required => true, :autofocus => true, label: false, placeholder: 'e-mail'
            = f.input :name, required: false, label: false, placeholder: 'Name'
            = f.input :password, :required => true, label: false, placeholder: 'hasło'
            = f.input :password_confirmation, :required => true, label: false, placeholder: 'powtórz hasło'
            = f.button :submit, "Zarejestruj mnie!", class: 'btn btn-success btn-session'
          = render "devise/shared/links"
