.centered.span8
  = simple_form_for [@throwup, Comment.new], remote: true do |f|
    = f.label :Komentarz
    = f.input :content, as: :text, label: false, placeholder: 'Komentujesz?'
    = f.submit "Zapisz"
