.comments_section.centered.span8.pull-right
  - if current_user.present?
    = render partial: 'comments/form', locals: { throwup: @throwup }
  - @throwup.comments.reverse.each do |c|
    .comment
      .content
        = c.content
      .author
        = "by:"
        = link_to c.user.name, user_path(c.user)
      .space

