.battle-contenders
  %table
    %tr
      %th.h4= 'Zawodnik'
      %th.h4= 'Praca'
      %th.h4= 'Punkty'
      %th
    .battle-entries
      - @battle ||= battle
      - @battle.battle_entries.sort_by{|v| -v.battle_votes.count}.each do |e|
        %tr{id: dom_id(e)}
          %td= link_to "#{User.find(e.user_id).name}", user_path(e.user_id)
          - throwup = Throwup.find(@battle.battle_entries.where(user_id: e.user_id).first.picture_id)
          %td= link_to (image_tag throwup.attachment.url(:thumb)), throwup_path(throwup.id)
          %td= render partial: 'battle_votes/vote',
            locals: { battle_entry: e }
