.battle.with-top-mayn.centered.span5
  = simple_form_for [:battle, @battle_entry] do |f|
    = f.simple_fields_for Throwup.new do |throwup_form|
      = throwup_form.input :attachment, label: "Wrzut na battle '#{@battle_entry.battle.word}'", class: '123244'
      = throwup_form.input :content, as: :text, label: false, placeholder: 'Możesz tu wpisać komentarz'
    = f.submit "Throw it up!"
