%h2= t("forem.admin.category.index")
= link_to t('back_to_admin', :scope => "forem.admin"), forem.admin_root_path
%br/
%br/
= link_to t("forem.admin.category.new_link"), forem.new_admin_category_path, :class => "btn btn-primary"
%br/
%br/
%table#forums.forums.table-striped.table{:cellspacing => "0"}
  %thead
    %tr
      %th= t('edit', :scope => 'forem.admin.categories')
      %th= t('delete', :scope => 'forem.admin.categories')
      %th= t('category', :scope => 'forem.admin.categories')
  %tbody
    - @category.each do |category|
      %tr{:class => "forum #{cycle("odd", "even")}"}
        %td= link_to t('edit', :scope => 'forem.admin.categories'), forem.edit_admin_category_path(category), :class => "btn btn-info"
        %td= link_to t('delete', :scope => 'forem.admin.categories'), forem.admin_category_path(category), :method => :delete, |
            data: { :confirm => t("delete_confirm", :scope => 'forem.admin.categories') }, :class => "btn btn-danger"         |
        %td
          = forem_emojify(category.name)
= link_to t('forem.admin.forum.index'), forem.admin_forums_path
