= simple_form_for @user do |f|
  = f.input :name, label: 'Name'
  = f.input :description, label: 'Desc', placeholder: 'Coś o sobie?'
  = f.input :crew, label: 'Crew', placeholder: 'crew?'
  = f.input :city, label: 'City', placeholder: 'skąd?'
  = f.input :date, label: 'Date', placeholder: 'od dawna?'
  = f.submit
