.users-index.with-top-margin.centered
  centered
  %table.users-table.span6
    %tr
      %th.h4= 'Name'
      %th.h4= 'Zarejestrowany'
      %th.h4= 'Wrzuty'
      %th.h4= 'Propsy'
    .graffitizer-users
      = will_paginate @users
      - @users.each do |u|
        %tr
          %td= link_to "#{u.name}", user_path(u)
          %td= "#{u.created_at}"
          %td= link_to "#{u.throwups.count}", user_throwups_path(u)
          - likes = []
          - u.throwups.each do |t| likes << t.likes.count end
          %td= "#{likes.sum}"





