%dl.dl-horizontal.with-top-margin.span4
  %dt Name
  %dd 
    = @user.name
  %dt Description
  %dd 
    = @user.description
  %dt Crew
  %dd 
    = @user.crew
  %dt City
  %dd 
    = @user.city
  %dt Since
  %dd 
    = @user.date
  %dt
  %dd
    = link_to 'Pokaż wrzuty', user_throwups_path(user_id: @user.id), class: 'btn'
    - if @user != current_user
      = link_to 'Wyślij wiadomość', new_message_path(recipient_id: @user.id), class: 'btn'
