.form-actions
  .container
    .row
      .login-header
        %h2 Change your password
        .login-box.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
          .form-horizontal
            = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
              = f.error_notification
              = f.input :reset_password_token, :as => :hidden
              = f.full_error :reset_password_token
              .form-inputs
                = f.input :password, :label => "Nowe hasło", :required => true, :autofocus => true
                = f.input :password_confirmation, :label => "Powtórz nowe hasło", :required => true
              .form-actions
                = f.button :submit, "Zmień moje hasło", class: 'btn btn-success btn-session'
            = render "devise/shared/links"
