.form-actions
  .container
    .row
      .login-header
        %h4 Nie pamiętasz hasła?
        .login-box.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
          .form-horizontal
            = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
              = f.input :email, required: true, autofocus: true, label: false, 
                placeholder: 'e-mail', input_html: {class: 'email-remind'}
              = f.button :submit, "Wyślij nowe hasło", class: 'btn btn-success btn-session'
            = render "devise/shared/links"
