%h2= t('forem.admin.group.members', :group => forem_emojify(@group.name))
= link_to t('back_to_groups', :scope => "forem.admin"), admin_groups_path
.row
  %h3= t('.add_a_new_member')
  = form_tag add_admin_group_members_url(@group) do
    %p
      = text_field_tag "user_id"
    %p.span1
      = submit_tag t(".add_member"), :class => "btn btn-primary"
- if @group.members.any?
  %h3= t('.current_members')
  .row
    %ul#members
      - @group.members.each do |member|
        %li
          = member.to_s
          |
          \#{link_to t('forem.admin.groups.show.remove_member'), admin_group_member_url(@group, member), method: :delete, data: { confirm: t('are_you_sure') }}
:javascript
  $("#user_id").select2({
    containerCssClass: "span5",
    ajax: {
      url: "#{forem.admin_user_autocomplete_url}",
      data: function(term, page) {
        return { "term": term }
      },
      results: function(data, page) {
        return { results: data };
      }
    },
    formatResult: function(result) {
      return result.identifier;
    },
    formatSelection: function(result) {
      return result.identifier;
    }
  });
