.span4.with-top-margin
  = gflash
  = subscribe_to "/chats/new"
  %h2 GRAFFCHAT 1.0
  %ul#chat
  - if !@chats.nil?
    = render @chats
  = form_for Chat.new, method: :post, remote: true do |f|
    = f.text_field :message
    = f.hidden_field :user_id, value: current_user.id
    = f.submit "wyślij"
