.battles.with-top-margin.centered
  .active-battles
    %table
      %tr
        %th Aktywne battle:
        %th Start
        %th Koniec
        - @active_battles.each do |b|
          %tr
            %td= link_to "Battle '#{b.word}'", battle_path(b.id)
            %td= b.beginning_date
            %td= b.finish_date
  .finished-battles
    %table
      %tr
        %th Skończone battle:
        %th Start
        %th Koniec
      - @finished_battles.each do |b|
        %tr
          %td= link_to "Battle '#{b.word}'", battle_path(b.id)
          %td= b.beginning_date
          %td= b.finish_date
  .new-battle
    = link_to 'New battle', new_battle_path, class: 'btn btn-mini pull-left'
