.span3.battles.with-top-margin.centered
  = simple_form_for @battle do |f|
    = f.input :word
    = f.input :description
    = f.input :prize
    = f.input :beginning_date
    = f.input :finish_date
    = f.submit 'Start!'
