.battle.with-top-margin.centered.span5
  .battle-info
    %table
      %tr
        %td.h3= "Battle"
        %td= @battle.word
      %tr
        %td.h3= 'Dodatkowe info'
        %td= @battle.description
      %tr
        %td.h3= 'Start'
        %td= @battle.beginning_date
      %tr
        %td.h3= 'Koniec'
        %td= @battle.finish_date
      %tr
        %td.h3= 'Nagroda?'
        - if @battle.prize
          %td= 'TAK!'
        - else
          %td= 'Nie'
      - if Battle.active.include?(@battle) && !BattleEntry.where(battle_id: @battle.id, user_id: current_user.id).present?
        %tr
          %td.h3= 'Gotowy?'
          %td= link_to 'Join the battle!', new_battle_battle_entry_path(battle_id: @battle.id), class: 'btn btn-mini'
      - if Battle.finished.include?(@battle)
        %tr
          %td.h3= 'Zwycięzca'
          - @winners.map do |w|
            %td
              = link_to w.name, user_path(w)
  .battle-participants
    = render partial: 'battle_entries/index'
