.form-actions
  .container
    .row
      .login-header
        %h4 Zaloguj się
        .login-box.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4.col-xs-10.col-xs-offset-1
          .form-horizontal
            = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), ) do |f|
              = f.input :email, :required => false, :autofocus => true, 
                input_html: {class: 'even-padding'}, label: false, placeholder: 'e-mail'
              = f.input :password, :required => false, input_html: {class: 'even-padding'}, 
                label: false, placeholder: 'hasło'
              = f.input :remember_me, :as => :boolean, label: 'Zapamiętaj mnie' if devise_mapping.rememberable?
              .section
                = f.button :submit, "dawaj!", class: 'btn btn-success btn-session'
            = render "devise/shared/links"
