!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome, #{@user.name}!
    %p
      You have received a new message.
      %br/
    %p
      To read your messages just follow this 
      = link_to 'link', @url
    %p Have a good day!
