= simple_form_for [forem, @forum, @topic] do |f|
  = f.input :subject
  = f.simple_fields_for :posts do |post|
    = render :partial => "forem/posts/form", :locals => { :f => post }
  = f.submit :class => "btn btn-primary"
`
