%tr{:class => "topic #{cycle('odd', 'even')} #{topic.locked? ? 'locked' : 'unlocked'}"}
  %td.icon
    - if topic.locked?
      %span.lock.icon
    - if topic.pinned?
      %span.pin.icon
    - if topic.hidden?
      %span.hidden.icon
    - if forem_user && view = topic.view_for(forem_user)
      - if topic.posts.exists?(["created_at > ?", view.updated_at])
        %span.new_posts.icon new
  %td.byline
    = new_since_last_view_text(topic)
    .subject= link_to forem_emojify(topic.subject), forem.forum_topic_path(@forum, topic)
    .started-by
      = t "started_by"
      = relevant_posts(topic).first.user
  %td.latest-post.text-center
    = link_to_latest_post(topic)
  %td.posts-count.text-center= relevant_posts(topic).count
  %td.views-count.text-center= topic.views_count
