#topic{:class => "#{'un' unless @topic.locked?}locked"}
  = render :partial => 'forem/topics/head', :locals => { :topic => @topic }
  #menu
    .btn-group
      - if @topic.can_be_replied_to? && can?(:reply, @topic)
        = link_to t(".reply"), forem.new_topic_post_path(@topic), :class => "btn"
      - if @topic.user == forem_user || forem_admin?
        = link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "btn btn-danger"
      - if forem_user
        - if !@topic.subscriber?(forem_user.id)
          = link_to t(".subscribe"), forem.subscribe_forum_topic_path(@forum, @topic), :method => :post, :class => "btn btn-success"
        - else
          = link_to t(".unsubscribe"), forem.unsubscribe_forum_topic_path(@forum, @topic), :method => :post, :class => "btn btn-danger"
    - if forem_admin?
      .btn-group
        = link_to t('forem.topic.links.edit'), forem.edit_admin_topic_path(@topic), :class => "btn"
        = link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_topic_path(@topic), :method => :put, :class => "btn"
        = link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_topic_path(@topic), :method => :put, :class => "btn"
        = link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_topic_path(@topic), :method => :put, :class => "btn"
  - if @topic.pending_review?
    #topic_moderation.moderation.alert
      = t(".pending_review")
      - if forem_admin_or_moderator?(@topic.forum)
        = form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f|
          = render "/forem/moderation/options", :f => f
  = forem_pages_widget(@posts)
  #posts
    = render :partial => "forem/posts/post", :collection => @posts
  = forem_pages_widget(@posts)
