%p
  = 'Powinieneś dodać zdjęcie albo youtub!'
.form
  = simple_form_for @throwup do |f|
    = f.input :content, as: :text
    = f.input :attachment
    = f.input :youtube
    = f.submit "Throw it up!"

