.main-page.with-top-margin
  .span2
    %div.dl-horizontal.with-top-margin.tabbable.tabs-below
      %ul.nav.nav-pills.nav-stacked
        %li.active#myTab
          %a{href: "#tab1", "data-toggle" => "tab"} Wszystkie
        %li#myTab
          %a{href: "#tab2", "data-toggle" => "tab"} Legale
        %li#myTab
          %a{href: "#tab3", "data-toggle" => "tab"} Nielegale
        %li#myTab
          %a{href: "#tab4", "data-toggle" => "tab"} Pociągi
        %li#myTab
          %a{href: "#tab5", "data-toggle" => "tab"} Kartki
        %li#myTab
          %a{href: "#tab6", "data-toggle" => "tab"} Szablony
        %li#myTab
          %a{href: "#tab7", "data-toggle" => "tab"} Tagi
        %li#myTab
          %a{href: "#tab8", "data-toggle" => "tab"} Różne
  .t-ups-section.centered.span8
    %p.bolded
      Wrzuty
      .tab-content
        #tab1.tab-pane.active
          - @throwups.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @throwups
        #tab2.tab-pane
          - @legals.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @legals
        #tab3.tab-pane
          - @illegals.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @illegals
        #tab4.tab-pane
          - @trains.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @trains
        #tab5.tab-pane
          - @sketches.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @sketches
        #tab6.tab-pane
          - @stencils.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @stencils
        #tab7.tab-pane
          - @tags.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @tags
        #tab8.tab-pane
          - @various.each_slice(4) do |s|
            %table
              %tr.throwups-line
                - s.each do |t|
                  %td.t-up-index
                    %p
                      = link_to "#{t.user.name}", user_path(t.user.id)
                      wrzucił:
                    %p
                    - if t.attachment?
                      = link_to (image_tag t.attachment.url(:thumb)), throwup_path(t.id)
                    - if t.youtube?
                      = link_to (image_tag youtube_thumbnail(t.youtube_id)), throwup_path(t.id)
                    %p.pull-right.t_up-counter
                      - if t.likes.any?
                        %i.icon.fa.fa-star
                      - else
                        %i.icon.fa.fa-star-o
                      = t.likes.count
                      - if t.comments.any?
                        %i.icon.fa.fa-comment
                      - else
                        %i.icon.fa.fa-comment-o
                      = t.comments.count
          = will_paginate @various
