.span3.form.with-top-margin.centered
  = simple_form_for @throwup do |f|
    = f.input :attachment, label: 'Nowy wrzut'
    = f.input :youtube, label: false, placeholder: 'Możesz dać tu link do youtuba'
    = f.input :content, as: :text, label: false, placeholder: 'Możesz też coś napisać'
    = f.association :category, label: 'Kategoria:', as: :radio_buttons, include_blank: false
    = f.submit 'Wrzuć!'


