.throwup_section.centered.span8
  %br
  %br
  .span1.next_throwup.pull-left
    - if !@next_throwup.nil?
      = link_to main_app.throwup_path(@next_throwup), class: 'btn navigation-button', title: 'Następny' do
        %i.icon.fa.fa-arrow-circle-o-left.fa-2x
  .span1.prev_throwup.pull-right
    - if !@prev_throwup.nil?
      = link_to main_app.throwup_path(@prev_throwup), class: 'btn navigation-button', title: 'Poprzedni' do
        %i.icon.fa.fa-arrow-circle-o-right.fa-2x
  %p
    - if @throwup.attachment?
      = button_tag(image_tag(@throwup.attachment.url(:large)), { data: { target: "#modal_throwup", toggle: "modal" } })
    - if @throwup.youtube?
      %p
      %p
        = youtube_player(@throwup.youtube_id)
  %p
    = @throwup.content
  %p
    = link_to "#{@throwup.user.name}", user_path(@throwup.user_id)
    = link_to '- wyślij wiadomość', new_message_path(recipient_id: @throwup.user.id)
    .likes_section
      = render partial: 'likes/like', locals: { counter: @counter, throwup: @throwup }
  .comments_section
    = render partial: 'comments/index', locals: { throwup: @throwup }
.modal.fade#modal_throwup{ tabindex: 1 }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3
      = @throwup.content
  .modal-body
    = image_tag @throwup.attachment.url
  .modal-footer
    %a.btn{href: "#"} Close
