.edit_user
  {
    margin-top: 40px;
  }

.with-top-margin
  {
    margin-top: 40px;
  }

.centered
  {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.bolded
  {
    font-weight: bold;
    font-size: large;
  }

.narrow
  {
    width: 300px;
  }

.even-padding
  {
    padding: 1px 10px 1px 10px !important;
  }

.not-liked .hint {
  display: none;
}

.not-liked:hover .hint {
  display: inline;
}


.navigation-button {
  margin: 5px 2px 5px 2px;
  padding: 6px 12px 6px 12px;
  font-size: 14;
  width: 41px;
}

@-moz-document url-prefix(localhost:3000) {
  #throwup_youtube form {
    box-sizing: border-box !important;
    padding: 0px !important;
  }
}

.t_up-counter {
  margin-right: 25px;
}

.throwup_section {
  position: absolute;
}


.next_throwup {
  position: relative;
  margin-top: 150px;
}

.prev_throwup {
  position: relative;
  margin-top: 150px;
}

.main {
  background-color: EAE203 !important;
  height: 100%;
  width: 100%;
}

.padded-header {
  padding: 0 100px 0 100px !important;
}

#user_remember_me {
  margin-left: 0;
}

.login-box {
  /*border: solid 1px black;*/
}

.login-header {
  text-align: center;
}

.btn-session {
  width: 200px !important;
}

.form-actions {
  margin: 0 !important;
}

.remember-me {
  margin-left: 30px;
}

.email-remind {
  margin-bottom: 10px !important;
}

.small-letters {
  font-size: 10px;
}
