%p
  Witaj!
%p Ktoś poprosił o link resetujący hasło do Twojego konta.
%p= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @token)
%p Jeżeli nie chcesz zmieniać hasła po prostu zignoruj tą wiadomość.
%p Twoje hasło pozostanie bez zmian jeżeli nie klikniesz w powyższy link.
