%p
  Witaj!
%p Twoje konto zostało zablokowane z powodu zbyt wielu nieudanych prób logowania.
%p Kliknij w poniższy link aby odblokować swoje konto:
%p= link_to 'Odblokuj moje konto', unlock_url(@resource, :unlock_token => @token)
