.centered
  = simple_form_for @user, { url: present_user_path } do |f|
    = f.input :name, placeholder: 'Name'
    = f.input :description, as: :text, placeholder: 'Coś o sobie?'
    = f.input :crew, placeholder: 'Crew?'
    = f.input :city, placeholder: 'Miasto'
    = f.input :date, placeholder: 'Długo już?'
    = f.submit
