!!!
%html
  %head
    %title Graffitizer
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-custom"}
    %nav.navbar.navbar-custom.navbar-fixed-top.padded-header{:role => "navigation"}
      .container
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => ".navbar-main-collapse", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-bars
          %a.navbar-brand{:href => throwups_path}
            %i.fa.fa-play-circle
            %span.light graffitizer
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li.page-scroll.header-btn
                = link_to main_app.new_throwup_path, class: 'btn navigation-button', title: 'Wrzuć!' do
                  %i.icon.fa.fa-camera
              %li.page-scroll.header-btn
                = link_to '/forums', class: 'btn navigation-button disabled', title: 'Forum' do
                  %i.icon.fa.fa-list
              %li.page-scroll.header-btn
                = link_to main_app.chats_path, class: 'btn navigation-button', title: 'Chat' do
                  %i.icon.fa.fa-comments
              %li.page-scroll.header-btn
                = link_to main_app.battles_path, class: 'btn navigation-button', title: 'Battle' do
                  %i.icon.fa.fa-flash
              %li.page-scroll.header-btn
                = link_to main_app.present_user_path, class: 'btn navigation-button', title: 'Profil' do
                  %i.icon.fa.fa-cogs
              %li.page-scroll.header-btn
                = link_to main_app.messages_path(current_user), class: 'btn navigation-button', title: 'Wiadomości' do
                  %i.icon.fa.fa-envelope
              %li.page-scroll.header-btn
                = link_to main_app.users_path, class: 'btn navigation-button', title: 'Użytkownicy' do
                  %i.icon.fa.fa-users
              - if user_signed_in?
                %li.page-scroll.header-btn
                  = link_to main_app.destroy_user_session_path, :method => :delete, class: 'btn navigation-button', title: "#{current_user.name} - wyloguj" do
                    %i.icon.fa.fa-sign-out
            - else
              %li.page-scroll.header-btn
                = link_to main_app.new_user_session_path, class: 'btn navigation-button', title: 'Logowanie' do
                  %i.icon.fa.fa-sign-in
    = yield




